{% extends "blogs/layout.html"%} {% block body %} {% if message %}
<p>{{ message }}</p>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input
    type="text"
    name="title"
    placeholder="Enter Title"
    label="Title"
  /><br />
  <br />
  <textarea
    name="description"
    placeholder="Description"
    rows="20"
    cols="50"
    label="Description"
    style="white-space: pre-wrap"
  ></textarea>
  <br />
  <label>Upload Image for the post:</label>
  <input
    type="file"
    name="postimage"
    placeholder="Upload Image for the post"
    label="Image"
  /><br />
  <br />
  <input type="submit" value="Create" />
</form>

{% endblock %}
