{% extends "blogs/layout.html" %} {% block body %}
<h1>Blogs</h1>
{% if request.user.is_authenticated %}

<a
  href="{% url 'author' request.user%}"
  style="font-size: 20px; text-transform: capitalize; text-decoration: None"
  >{{request.user}}</a
>
|
<a
  href="{% url 'logout' %}"
  style="font-size: 20px; text-transform: capitalize; text-decoration: None"
  >Logout</a
>
|
<a
  href="{% url 'create' %}"
  style="font-size: 20px; text-transform: capitalize; text-decoration: None"
  >Create Blog</a
>
{% else %}
<a href="{% url 'login' %}" style="font-size: 20px; text-decoration: None"
  >Signin</a
>

{% endif %}

<ul>
  {% for T in head %}
  <li><a href="{% url 'post' T %}">{{ T }} </a></li>
  {% endfor %}
</ul>
{% endblock %}
